#cy {
  width: 1000px;
  height: 500px;
  display: block;
  background-color: rgb(224, 214, 203);
}

h1 {
  color: black;
  text-align: center;
}

#space1 {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
